--prefer-binary
Pillow
numpy<2.0.0
matplotlib
timm>=0.9,<=1.0.12
wheel
cython
tensorboard
scipy
opencv-python
scikit-learn
scikit-image
openai-clip
decord
requests
pyyaml
easydict
pyiqa
lvis
fvcore
urllib3
boto3
omegaconf
transformers>=4.39
#4.57.6
pycocoevalcap
pyiqa
#fairscale>=0.4.4
# detectron2@git+https://github.com/facebookresearch/detectron2.git
#pip install --no-build-isolation "detectron2 @ git+https://github.com/facebookresearch/detectron2.git"
