Pillow==9.5.0
numpy
matplotlib
timm==0.9.12
torch==1.13.1
torchvision>=0.13
tensorboard
scipy==1.10.1
opencv-python
scikit-learn
requests
scikit-image
pyyaml
easydict
lvis
fairscale==0.4.4
openai-clip
fvcore
easydict
decord==0.6.0
pyiqa==0.1.8
transformers==4.33.2
pycocoevalcap
wheel
cython
urllib3
boto3
omegaconf
pyav
av
moviepy